.homeBlock {
  align-items: center;  
  display: flex;
  flex-direction: column;
  padding: 140px 0 0 0;
  position: relative;
}

.homeBlock img {
    border-radius: 50%;
    outline: 1px solid #89a1fa;
    border: 2px solid #FFF;
    height: 180px;
    position: absolute;
    top: -60px;
    width: 180px;
}

.homeBlock h1 {
    color: #708bad;
    font-size: 46px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}

.homeBlock h4 {
    font-size: 20px;
    color: #8599b3;
    line-height: 27px;
    margin: 0;
    max-width: 250px;
    text-align: center;
}

.blockResume {
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    color: #8599b3;
    display: flex;
    font-size: 14px;
    margin: 20px 0 0;
    padding: 10px 0 10px 0;
    text-align: center;
    font-weight: 900;
}

.blockResume p {
    margin: 0;
    font-size: 17px;
    line-height: 21px;
}

@media (min-width: 2000px) {

    .homeBlock img {
        height: 220px;
        top: -90px;
        width: 220px;
    }

    .homeBlock h2 {
        font-size: 56px;
    }

    .homeBlock h4 {
        font-size: 26px;
        max-width: 100%;
    }

    .homeBlock p {
        font-size: 20px;
        line-height: 27px;
    }
} 