

.homeBlock {
  align-items: center;  
  display: flex;
  flex-direction: column;
  padding: 140px 0 0 0;
  position: relative;
}

.homeBlock img {
    border-radius: 50%;
    outline: 1px solid #89a1fa;
    border: 2px solid #FFF;
    height: 180px;
    position: absolute;
    top: -60px;
    width: 180px;
}

.homeBlock h2 {
    color: #656c7f;
    font-size: 46px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-indent: 10px;
}

.homeBlock h4 {
    font-size: 20px;
    color: #656c7f;
    line-height: 27px;
    margin: 0;
    max-width: 200px;
    text-align: center;
}

.blockResume {
    border-bottom: 1px dotted #ccc;
    border-top: 1px dotted #ccc;
    color: #656c7f;
    display: flex;
    font-size: 14px;
    margin: 20px 0 0;
    padding: 10px 0 10px 0;
    text-align: justify;
    font-weight: 900;
}

.blockResume p {
    margin: 0;
    font-size: 17px;
    line-height: 21px;
}