.navegation {
    font-size: 17px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 15px;
}

.navegation a {
    color: #656c7f;
    display: flex;
    padding: 5px 10px;
}

.navegation a:hover {
    background: #FFF;
    border-radius: 10px;
    box-sizing: border-box;
    color: #656c7f;
    cursor: pointer;
    display: flex;
    padding: 5px 10px;   
}

@media (min-width: 2000px) {
    .navegation { 
      font-size: 20px;    
    }
}